<DOCTYPE=html>
<html>
	<head>
		<title>{{title}}</title>
		<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="../css/bootsrap-responsive.css" rel="stylesheet">
	</head>
	<body>



	<div class="content">
		<h1> Activity Board </h1>
		<p>
			<div class="btn-group">
			  <button class="btn btn-success"><i class="icon-user icon-white"></i> Wala</button>
			  <button class="btn btn-success"><i class="icon-home icon-white"></i> Petalsburg</button>
			  <button class="btn">Pears</button>
			  <button class="btn ">Trade</button>
			  <button class="btn ">Hangout</button>
			  <button class="btn">Message</button>
			  <button class="btn btn-primary"><i class="icon-plus icon-white"></i>.</button>
			</div>
		</p>
		<p>
			<div class="btn-group">
			  <button class="btn btn-success"><i class="icon-user icon-white"></i> Wala</button>
			  <button class="btn btn-success"><i class="icon-home icon-white"></i> Petalsburg</button>
			  <button class="btn">Pears</button>
			  <button class="btn ">Trade</button>
			  <button class="btn ">Hangout</button>
			  <button class="btn">Message</button>
			  <button class="btn btn-primary"><i class="icon-plus icon-white"></i>.</button>
			</div>
		</p>
				<p>
			<div class="btn-group">
			  <button class="btn btn-success disabled"><i class="icon-user icon-white"></i> Sarah</button>
			  <button class="btn btn-success disabled"><i class="icon-home icon-white"></i> NewDeli</button>
			  <button class="btn">Apples</button>
			  <button class="btn ">Trade</button>
			  <button class="btn ">Hangout</button>
			  <button class="btn">Message</button>
			  <button class="btn btn-primary"><i class="icon-plus icon-white"></i>.</button>
			</div>
		</p>
				<p>
			<div class="btn-group">
			  <button class="btn btn-success"><i class="icon-user icon-white"></i> Joey</button>
			  <button class="btn btn-success"><i class="icon-home icon-white"></i> Petalsburg</button>
			  <button class="btn">Oranges</button>
			  <button class="btn ">Trade</button>
			  <button class="btn ">Hangout</button>
			  <button class="btn">Message</button>
			  <button class="btn btn-primary"><i class="icon-plus icon-white"></i>.</button>
			</div>
		</p>
		
			<p>
			<div class="btn-group">
			  <div class="btn span-4 btn-success span1"><i class="icon-user icon-white"></i> Joey</div>
			  <div class="btn span-4 btn-success input-small"><i class="icon-home icon-white"></i> Petalsburg</div>
			  <div class="btn span-4">Oranges</div>
			  
			  
			</div>
			
		</p>
		<table class="table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Town</th>
					<th>Fruit</th>
					<th>Trading</th>
					<th>Hangingout</th>
					<th> <i class="icon-plus"></i> </th>
				</tr>
			</thead>
			<tbody>
				<tr >
					<td>Wala</td>
					<td>Petalsburg</td>
					<td>Pears</td>
					<td>Trade</td>
					<td>Hangout</td>
					<td> <i class="icon-plus"></i> </td>
				</tr>
				<tr >
					<td class="btn">Wala</td>
					<td class="btn">Petalsburg</td>
					<td class="btn">Pears</td>
					<td class="btn">Trade</td>
					<td class="btn">Hangout</td>
					<td class="btn"> <i class="icon-plus"></i> </td>
				</tr>
				<tr>
					<td>Wala</td>
					<td>Petalsburg</td>
					<td>Pears</td>
					<td>Trade</td>
					<td>Hangout</td>
					<td> <i class="icon-plus"></i> </td>
				</tr>
		</tbody>
		
		</table>
		
		
	</div> <!-- end content div -->
	
		

</body>
</html>